<div class="d-flex justify-content-center align-items-center container ">

  <mdb-card>
    <mdb-card-header class="info-color white-text text-center py-4">
      <h5>
        <strong>Sign in</strong>
      </h5>
    </mdb-card-header>
    <!--Card content-->
    <mdb-card-body class="px-lg-5 pt-0">
      <!-- Form -->
      <form class="text-center" [formGroup]="formData" (ngSubmit)="Login()" >
        <!-- Email -->
        <div class="md-form">
          <input type="text" id="materialLoginFormEmail" class="form-control" mdbInput formControlName="userName" [ngClass]="{ 'is-invalid': submit && Form.userName.errors }">
          <label for="materialLoginFormEmail">Username</label>
          <div *ngIf="Form.userName.errors" class="invalid-feedback">
            <div *ngIf="Form.userName.errors.required">Username is required!</div>
          </div>
        </div>
        <!-- Password -->
        <div class="md-form">
          <input type="password" id="materialLoginFormPassword" class="form-control" mdbInput formControlName="password" [ngClass]="{ 'is-invalid': submit && Form.password.errors }">
          <label for="materialLoginFormPassword">Password</label>
          <div *ngIf="Form.password.errors" class="invalid-feedback">
            <div *ngIf="Form.password.errors.required">Password is required!</div>
          </div>
        </div>
        <!-- Default checked -->

        <div *ngIf="this.errorHandlingService.credentialsError">
          <div style="font-size: 0.8em;color:#dc3545;">Incorrect Credentials!</div>
        </div>
        <div *ngIf="this.errorHandlingService.emailVerifiedError">
          <div style="font-size: 0.8em;color:#dc3545;">Please Verify Your Account By Email!</div>
        </div>

        <div class="d-flex justify-content-around">
          <div>
            <!-- Remember me -->
            <mdb-checkbox [default]="true" formControlName="checkbox">Remember me</mdb-checkbox>
          </div>
          <div>
            <!-- Forgot password -->
            <a routerLink="/reset_password">Forgot password?</a>
          </div>
        </div>

        <!-- Sign in button -->
        <div>
          <button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0" mdbWavesEffect
                  type="submit">Sign in</button>

        </div>
        <!-- Register -->
        <p>Not a member?
          <a routerLink="/register">Register</a>
        </p>

      </form>
      <!-- Form -->

    </mdb-card-body>

  </mdb-card>
</div>
