<div class="container">
  <div class="row">
   <p>
     Креирајте страница за регистрација на корисниците. По внесот на минималните податоци, потребно е да се испрати e-mail со линк за активација со генериран код. Корисниците не може да се најават се додека не го кликнат овој линк.
     Активацискиот код има важност од 24 часа. Доколку не се активира регистрацијата во тој период, треба податоците автоматски да се избришат.
     Регистрираните корисници имаат улога USER
     Креирајте страница за активација на корисникот, која ќе содржи само поле за активациски код. Доколку е внесен валиден код, се прикажува порака и се овозможува најавата на корисникот. Потребно е оваа страница да овозможи при клик на линк од e-mail пораката да се активира корисникот.
     Креирајте страница за заборавена лозинка, каде корисникот ќе внесе email и доколку постои таков во базата, ќе се испрати маил со ново-генерирана лозинка. Ако не постои таков email во базата да се покаже соодветна порака.
     Креирајте страница за најава со email и password и со можност remember me.
     Конфигурирајте го Spring Security делот на проектот за да овозможи најава со email и password на вработен
     Конфигурирајте го Spring Security да ја прикаже креираната форма за логирање и да ги прифати својствата кои ќе ги испрати таа.
     Конфигурирајте да се чуваат encoded лозинки
     По најавата треба да се прикаже форма за уредуање на профилот (без лозинката)
     Да се направи форма за промена на лозинка. При промената треба да се одјави корисникот.
     Креирајте Scheduled задача која секоја вечер ќе ги отстранува регистрираните вработени кои нема да извршат активација во рок од 24 часови.
     Потребно е сите настани кои се поврзани со корисникот да се нотифицираат преку Apache Kafka.
     Креирајте страница за управување со вработените (во технологија по ваш избор)
     Страницата содржи табела со страничење со 20 вработени на страница
     Треба да овозможите пребарување, додавање, бришење и уредување на вработените.
     Формата за уредување на еден вработен да биде над табелата и цело време да е видлива
     Треба да овозможите Search by example копчке кое ќе ги врати сите вработени за кои се совпаѓаат поставените својства од формата
     Притоа оваа страница не може да се пристапи од вработените со улога EMPLOYEE
     Вработените со улога MANAGER ги гледаат само вработените од својот оддел
     Вработените со улога ADMIN ги гледаат сите вработени
     Конфигурирајте не-најавените корисници да имаат само прстап до страниците за најава, активација, регистрација и промена на лозинка.
     Конфигурирајте регистрација со OAuth2 со користење на facebook и github и проширете ја формата за регистрација и најава со овие функционалности.
     Креирајте компонента која при стартување на апликацијата ќе креира admin вработен со својства конфигурирани во application.properties
     (Дополнување) Додадете посебна страна во која ќе има Chat room функционалност имплементирана со Web socket. Страната треба да се прикажува само за најавени корисници и корисничкото име треба да се превземе од најавата.
   </p>
  </div>
</div>
