<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto">
      <div class="md-form">
        <input type="text" [(ngModel)]="searchText" class="form-control" id="search" mdbInput>
        <label for="search">Search</label>
      </div>
    </div>
  </div>
  <table mdbTable  #tableEl="mdbTable" class="z-depth-1" id="dtBasicExample">
    <thead>
    <tr>
      <th [mdbTableSort]="users" sortBy="id">
          ID
      </th>
      <th [mdbTableSort]="users" sortBy="userName">Usernames</th>
      <th [mdbTableSort]="users" sortBy="email">Emails</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let el of users;let i = index">
      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{i+1}}</td>
      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" scope="row">{{el.userName}}</td>
      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" class="red-text">{{el.email}}</td>
    </tr>
    </tbody>
    <tfoot class="grey lighten-5 w-100">
    <tr>
      <td colspan="4">
        <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="users"></mdb-table-pagination>
      </td>
    </tr>
    </tfoot>
  </table>
</div>


