<div class="d-flex justify-content-center align-items-center container ">

  <mdb-card>
    <mdb-card-header class="info-color white-text text-center py-4">
      <h5>
        <strong>Change Password</strong>
      </h5>
    </mdb-card-header>
    <!--Card content-->
    <mdb-card-body class="px-lg-5 pt-0">
      <!-- Form -->
      <form class="text-center" [formGroup]="formData" (ngSubmit)="ChangePassword()" >
        <!-- Password -->
        <div class="md-form">
          <input type="password" id="materialLoginFormPassword" class="form-control" mdbInput formControlName="password">
          <label for="materialLoginFormPassword">New Password</label>
        </div>
        <!-- Sign in button -->
        <div>
          <button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0" mdbWavesEffect
                  type="submit">Save Changes</button>
        </div>
      </form>
      <!-- Form -->

    </mdb-card-body>

  </mdb-card>
</div>
